body
/* declaration block - enclosed in curly braces */
{ background-color: #acf }
div {
 /* each declaration consists of property : value */
 /* declarations in the same block are separated by ; */
 background-color: #365269;
 color: white;
 margin: 10px;
 padding: 10px
}

@media screen and (min-width: 800px) {
  img { max-width: 500px; max-height: 300px; }
  table { width: 800px; }
 }


button {
    background-color: #ccc;
    border-radius: 5px;
    padding: 3px;
    }
    button:hover {
    background-color:slategray;
    color:white;
    cursor: pointer;
    }

@media screen and (min-width: 800px) {
    img { max-width: 500px; max-height: 300px; }
    table { width: 800px; }       }

    body {
        margin: 40px;
      }
      
      .wrapper {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-gap: 10px;
        background-color: #fff;
        color: #444;
      }
      
      .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
      }    
    
      body {
        margin: 40px;
      }
      
      .wrapper {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-gap: 10px;
        background-color: #fff;
        color: #444;
      }
      
      .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
      }

      #content {
        display: flex;
      
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: stretch;
      }
      
      .box {
        flex-grow: 4;
        border: 3px solid rgba(0, 0, 0, 0.2);
      }
      
      .box1 {
        flex-grow: 5;
        border: 3px solid rgba(0, 0, 0, 0.2);
      }
  