* {
    padding: 5px;
    margin: 5px;
    border: solid 1px gray;
    border-radius: 5px;
    min-height: 3em;
}

.root{
    height: 100%;
    width: 400px;
}

items > div {
    border: solid 1px gray;
}

.done { 
    background-color: gray;
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .navbar .icon {
    display: none;
  }

  .navbarC{
    font-family: "Montserrat", sans-serif;

  }



